<!DOCTYPE html>
<html>

<head>
   <title>Title</title>
   <style>
      body {
         font-family: 'monospace', monospace;
         font-size: 12px;
         line-height: 1.5;
         width: 80mm;
         /* Typical thermal printer width */
         margin: 0;
         padding: 0;
      }

      subtitle {
         display: block;
         font-weight: bold;
         margin-top: 10px;
         margin-bottom: 5px;
      }
   </style>
</head>

<body>
   <subtitle>focus on what matters most for the game</subtitle>
</body>

</html>